.super-mario {
  width: 200px;
  position: absolute;
  right: 925px;
}

.goomba {
  position: absolute;
  width: 100px;
  right: 950px;
  top: 380px;
}

.baloon {
  position: absolute;
  right: 450px;
  top: 80px;
  z-index: 1;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 2;
  right: 490px;
  top: 120px;
}

.bowser {
  width: 450px;
  position: absolute;
  right: 50px;
  top:150px
}