
div:hover {
  border: 5px solid black;
  border-radius: 20px;
}

.primaria, .secundaria, .complementar, .escura, .clara {
  text-align: center;
  padding: 2px;
  font-family:monospace;
  
}

.primaria {
  color: red;
  width: 120px;
}

.secundaria {
  color: yellowgreen;
  width: 130px;
}

.complementar {
  font-size: 2em;
  color: rgb(139, 118, 0);
  width: 230px;
}

.escura {

  color: darkblue;
  width: 107px;
}

.clara {
  color: aqua;
  width: 100px;
}